NET "clk"LOC = "AC18"| IOSTANDARD = LVCMOS18;


// buttons
NET "btn1[0]"LOC = "AF10"| IOSTANDARD = LVCMOS15; // RED DOWN
NET "btn1[1]"LOC = "AE13"| IOSTANDARD = LVCMOS15; // RED UP
NET "btn2[0]"LOC = "AE8"| IOSTANDARD = LVCMOS15; //YELLOW DOWN
NET "btn2[1]"LOC = "AE12"| IOSTANDARD = LVCMOS15; //YELLOW UP
NET "reset"LOC = "AA10"| IOSTANDARD = LVCMOS15;

NET "miao[0]"LOC = "AD11"| IOSTANDARD = LVCMOS15;
NET "miao[1]"LOC = "AE10"| IOSTANDARD = LVCMOS15;

#// vga sync
NET "hsync"LOC = "M22"| IOSTANDARD = LVCMOS33;
NET "vsync"LOC = "M21"| IOSTANDARD = LVCMOS33;
#
#// Red: 3 bits
NET "rgb[0]"LOC = "N22"| IOSTANDARD = LVCMOS33;
NET "rgb[1]"LOC = "R21"| IOSTANDARD = LVCMOS33;
NET "rgb[2]"LOC = "P21"| IOSTANDARD = LVCMOS33;
#// Green: 3 bits
NET "rgb[3]"LOC = "R22"| IOSTANDARD = LVCMOS33;
NET "rgb[4]"LOC = "R23"| IOSTANDARD = LVCMOS33;
NET "rgb[5]"LOC = "T24"| IOSTANDARD = LVCMOS33;
#// Blue: 2 bits
NET "rgb[6]"LOC = "T20"| IOSTANDARD = LVCMOS33;
NET "rgb[7]"LOC = "R20"| IOSTANDARD = LVCMOS33;
